numpy pandas에서는 matplotlib 모듈에서 플로팅 제공

In [ ]:
# matplotlib은 pyplot 하위 모듈
# NIAAA 현황 보고서를 통해 시간 흐름에 따라 주와 알코올 종류에 따른 소비량이 어떻게 달라지는지 플로팅

import matplotlib, matplotlib.pyplot as plt
import pandas as pd
import pickle

alco = pd.read_pickle("/content/alco.pickle")
alco

              Beer  Wine  Spirits  Total
State   Year
Alabama 1977  0.99  0.13     0.84   1.96
        1978  0.98  0.12     0.88   1.98
        1979  0.98  0.12     0.84   1.94
        1980  0.96  0.16     0.74   1.86
        1981  1.00  0.19     0.73   1.92
...            ...   ...      ...    ...
Wyoming 2005  1.21  0.23     0.97   2.41
        2006  1.47  0.23     1.05   2.75
        2007  1.49  0.23     1.10   2.82
        2008  1.54  0.23     1.12   2.89
        2009  1.45  0.22     1.10   2.77

[1683 rows x 4 columns]

In [ ]:
#alco.head(10)

In [ ]:
columns, years=alco.unstack().columns.levels

In [ ]:
#del alco["Total"]
#colunms, years = alco.unstack().columns.levels

In [ ]:
# 파일에서 축약된 주 이름을 읽어온다.
states = pd.read_csv("states.csv",index_col="State")
states.head(5)

           Postal
State
Alabama        AL
Alaska         AK
Arizona        AZ
Arkansas       AR
California     CA

In [ ]:
# 2009년을 기준으로 아코올 소비량을 정렬
# 가로축으로 년도를 바꾸고 싶다
# unit 41 해보기

# 2009년을 기준으로 알코올 소비량을 정렬한다.
frames = [pd.merge(alco[column].unstack(), states,
                   left_index=True, right_index=True).sort_values(2009) 
          for column in columns]
frames

[               1977  1978  1979  1980  1981  ...  2006  2007  2008  2009  Postal
 State                                        ...
 Utah           0.97  0.96  0.97  0.96  1.01  ...  0.71  0.75  0.75  0.70      UT
 Connecticut    1.05  1.07  1.13  1.06  1.05  ...  0.93  0.93  0.94  0.89      CT
 Maryland       1.37  1.41  1.43  1.42  1.39  ...  1.02  1.01  0.99  0.97      MD
 Massachusetts  1.34  1.37  1.39  1.47  1.44  ...  1.10  1.01  1.07  1.02      MA
 California     1.31  1.36  1.42  1.42  1.43  ...  1.05  1.07  1.07  1.05      CA
 Idaho          1.50  1.50  1.55  1.53  1.54  ...  1.14  1.18  1.15  1.05      ID
 Tennessee      1.10  1.16  1.14  1.10  1.14  ...  1.14  1.13  1.10  1.05      TN
 Arkansas       0.92  0.97  0.93  1.00  1.06  ...  1.07  1.07  1.11  1.07      AR
 Georgia        1.08  1.14  1.17  1.07  1.10  ...  1.17  1.16  1.13  1.08      GA
 Washington     1.36  1.39  1.41  1.52  1.38  ...  1.05  1.11  1.09  1.09      WA
 Indiana        1.14  1.19  1.23  1.26  1.29  ...  1.10  1.14  1.11  1.09      IN
 Michigan       1.45  1.43  1.37  1.34  1.34  ...  1.12  1.12  1.12  1.10      MI
 Virginia       1.19  1.22  1.23  1.23  1.23  ...  1.14  1.13  1.14  1.11      VA
 Kentucky       1.19  1.07  1.10  1.08  1.13  ...  1.04  1.05  1.03  1.11      KY
 Oklahoma       1.07  1.08  1.05  1.08  1.14  ...  1.15  1.18  1.23  1.18      OK
 Kansas         1.13  1.14  1.17  1.23  1.23  ...  1.14  1.17  1.21  1.18      KS
 Arizona        1.70  1.77  1.86  1.69  1.78  ...  1.31  1.36  1.27  1.19      AZ
 Minnesota      1.30  1.31  1.35  1.40  1.39  ...  1.15  1.16  1.21  1.19      MN
 Alabama        0.99  0.98  0.98  0.96  1.00  ...  1.22  1.24  1.24  1.20      AL
 Florida        1.33  1.41  1.47  1.42  1.55  ...  1.33  1.30  1.25  1.21      FL
 Illinois       1.35  1.38  1.45  1.43  1.43  ...  1.23  1.22  1.21  1.22      IL
 Colorado       1.43  1.64  1.68  1.57  1.63  ...  1.27  1.29  1.27  1.22      CO
 Maine          1.37  1.31  1.30  1.32  1.24  ...  1.26  1.27  1.26  1.24      ME
 Ohio           1.17  1.19  1.36  1.39  1.35  ...  1.32  1.33  1.32  1.28      OH
 Oregon         1.33  1.34  1.39  1.37  1.38  ...  1.26  1.29  1.21  1.28      OR
 Hawaii         1.61  1.38  1.60  1.65  1.74  ...  1.30  1.34  1.35  1.30      HI
 Missouri       1.23  1.31  1.37  1.39  1.40  ...  1.33  1.33  1.32  1.30      MO
 Alaska         1.19  1.39  1.50  1.55  1.71  ...  1.24  1.13  1.20  1.31      AK
 Delaware       1.32  1.33  1.38  1.45  1.51  ...  1.43  1.39  1.36  1.31      DE
 Pennsylvania   1.35  1.36  1.42  1.45  1.42  ...  1.30  1.34  1.36  1.35      PA
 Vermont        1.42  1.53  1.57  1.43  1.49  ...  1.35  1.37  1.37  1.36      VT
 Mississippi    1.08  1.16  1.15  1.13  1.19  ...  1.46  1.46  1.45  1.41      MS
 Iowa           1.33  1.38  1.40  1.41  1.44  ...  1.38  1.40  1.41  1.42      IA
 Texas          1.63  1.70  1.76  1.77  1.84  ...  1.43  1.41  1.44  1.42      TX
 Wyoming        1.79  1.82  1.86  1.85  1.91  ...  1.47  1.49  1.54  1.45      WY
 Nebraska       1.45  1.47  1.50  1.56  1.57  ...  1.43  1.45  1.47  1.46      NE
 Wisconsin      1.78  1.80  1.88  1.96  1.95  ...  1.56  1.54  1.53  1.49      WI
 Louisiana      1.30  1.35  1.36  1.41  1.48  ...  1.61  1.57  1.56  1.50      LA
 Nevada         2.15  2.20  2.28  2.09  2.08  ...  1.74  1.71  1.68  1.57      NV
 Montana        1.83  1.82  1.83  1.82  1.90  ...  1.64  1.68  1.68  1.66      MT

 [40 rows x 34 columns],
                1977  1978  1979  1980  1981  ...  2006  2007  2008  2009  Postal
 State                                        ...
 Mississippi    0.11  0.10  0.10  0.10  0.11  ...  0.12  0.12  0.12  0.11      MS
 Kansas         0.10  0.12  0.11  0.11  0.12  ...  0.18  0.15  0.14  0.14      KS
 Utah           0.14  0.15  0.16  0.14  0.15  ...  0.16  0.16  0.17  0.17      UT
 Arkansas       0.10  0.11  0.10  0.12  0.12  ...  0.17  0.17  0.17  0.17      AR
 Oklahoma       0.14  0.14  0.13  0.16  0.16  ...  0.17  0.17  0.18  0.18      OK
 Kentucky       0.09  0.09  0.09  0.10  0.11  ...  0.17  0.17  0.18  0.18      KY
 Iowa           0.10  0.11  0.11  0.13  0.13  ...  0.16  0.17  0.17  0.18      IA
 Nebraska       0.17  0.18  0.18  0.19  0.20  ...  0.21  0.21  0.21  0.20      NE
 Tennessee      0.10  0.11  0.11  0.12  0.13  ...  0.19  0.20  0.20  0.21      TN
 Alabama        0.13  0.12  0.12  0.16  0.19  ...  0.21  0.22  0.22  0.22      AL
 Wyoming        0.21  0.22  0.22  0.24  0.24  ...  0.23  0.23  0.23  0.22      WY
 Pennsylvania   0.20  0.21  0.22  0.22  0.23  ...  0.24  0.24  0.23  0.23      PA
 Indiana        0.14  0.16  0.15  0.17  0.18  ...  0.25  0.24  0.24  0.25      IN
 Georgia        0.16  0.19  0.19  0.19  0.18  ...  0.26  0.26  0.25  0.25      GA
 Ohio           0.18  0.20  0.20  0.22  0.22  ...  0.24  0.25  0.26  0.26      OH
 Texas          0.14  0.14  0.14  0.22  0.24  ...  0.26  0.27  0.27  0.28      TX
 Louisiana      0.25  0.25  0.26  0.27  0.27  ...  0.25  0.28  0.27  0.28      LA
 Missouri       0.19  0.20  0.20  0.20  0.21  ...  0.28  0.30  0.30  0.30      MO
 Wisconsin      0.27  0.28  0.28  0.31  0.31  ...  0.32  0.33  0.34  0.31      WI
 Michigan       0.24  0.25  0.25  0.28  0.29  ...  0.29  0.30  0.30  0.31      MI
 Maryland       0.30  0.31  0.31  0.33  0.34  ...  0.34  0.36  0.36  0.37      MD
 Minnesota      0.20  0.23  0.24  0.26  0.27  ...  0.32  0.36  0.37  0.37      MN
 Arizona        0.34  0.37  0.39  0.36  0.42  ...  0.37  0.33  0.40  0.38      AZ
 Illinois       0.30  0.31  0.33  0.33  0.35  ...  0.37  0.41  0.38  0.39      IL
 Maine          0.23  0.27  0.27  0.29  0.28  ...  0.42  0.43  0.42  0.42      ME
 Virginia       0.21  0.21  0.25  0.25  0.27  ...  0.39  0.41  0.42  0.43      VA
 Montana        0.20  0.20  0.41  0.35  0.33  ...  0.41  0.43  0.44  0.45      MT
 Colorado       0.36  0.47  0.47  0.47  0.44  ...  0.45  0.47  0.46  0.46      CO
 Florida        0.33  0.34  0.37  0.37  0.39  ...  0.48  0.49  0.49  0.48      FL
 Oregon         0.46  0.47  0.47  0.51  0.50  ...  0.49  0.49  0.49  0.49      OR
 Washington     0.45  0.48  0.48  0.52  0.54  ...  0.48  0.50  0.50  0.51      WA
 Hawaii         0.36  0.46  0.44  0.46  0.44  ...  0.48  0.49  0.52  0.53      HI
 Alaska         0.42  0.45  0.47  0.50  0.57  ...  0.46  0.44  0.49  0.54      AK
 California     0.67  0.68  0.70  0.71  0.72  ...  0.54  0.55  0.55  0.55      CA
 Delaware       0.24  0.25  0.27  0.29  0.32  ...  0.60  0.59  0.58  0.57      DE
 Nevada         0.83  0.85  0.88  0.79  0.80  ...  0.66  0.64  0.63  0.58      NV
 Connecticut    0.35  0.38  0.40  0.43  0.44  ...  0.55  0.58  0.59  0.59      CT
 Massachusetts  0.37  0.40  0.42  0.45  0.49  ...  0.61  0.61  0.62  0.61      MA
 Vermont        0.44  0.47  0.47  0.48  0.50  ...  0.58  0.61  0.62  0.63      VT
 Idaho          0.22  0.26  0.27  0.30  0.33  ...  0.74  0.74  0.81  0.92      ID

 [40 rows x 34 columns],
                1977  1978  1979  1980  1981  ...  2006  2007  2008  2009  Postal
 State                                        ...
 Utah           0.59  0.61  0.62  0.60  0.58  ...  0.43  0.43  0.46  0.46      UT
 Ohio           0.70  0.70  0.71  0.72  0.68  ...  0.44  0.45  0.46  0.47      OH
 Tennessee      0.71  0.72  0.73  0.69  0.72  ...  0.56  0.56  0.57  0.57      TN
 Alabama        0.84  0.88  0.84  0.74  0.73  ...  0.55  0.56  0.58  0.58      AL
 Texas          0.81  0.84  0.87  0.81  0.85  ...  0.55  0.56  0.58  0.58      TX
 Oklahoma       0.78  0.82  0.80  0.71  0.83  ...  0.57  0.58  0.58  0.58      OK
 Virginia       0.90  0.90  0.92  0.91  0.89  ...  0.57  0.58  0.59  0.59      VA
 Arkansas       0.63  0.73  0.57  0.69  0.68  ...  0.59  0.60  0.60  0.60      AR
 Pennsylvania   0.74  0.74  0.73  0.71  0.72  ...  0.57  0.59  0.60  0.61      PA
 Georgia        1.23  1.26  1.22  1.09  1.09  ...  0.64  0.64  0.64  0.64      GA
 Kentucky       0.75  0.77  0.77  0.74  0.75  ...  0.62  0.63  0.65  0.65      KY
 Kansas         0.65  0.64  0.73  0.62  0.70  ...  0.61  0.64  0.65  0.67      KS
 Nebraska       0.91  0.89  0.88  0.89  0.88  ...  0.71  0.67  0.68  0.68      NE
 Vermont        1.58  1.59  1.50  1.39  1.33  ...  0.69  0.70  0.71  0.70      VT
 Idaho          0.79  0.80  0.84  0.77  0.83  ...  0.65  0.67  0.69  0.70      ID
 Mississippi    0.86  0.91  0.84  0.86  0.84  ...  0.67  0.68  0.70  0.71      MS
 Iowa           0.74  0.74  0.71  0.71  0.69  ...  0.65  0.67  0.70  0.72      IA
 Illinois       1.22  1.19  1.17  1.24  1.12  ...  0.73  0.73  0.73  0.73      IL
 California     1.28  1.32  1.28  1.25  1.21  ...  0.70  0.72  0.72  0.73      CA
 Indiana        0.77  0.79  0.79  0.77  0.78  ...  0.66  0.72  0.74  0.73      IN
 Arizona        1.05  1.10  1.17  0.98  1.01  ...  0.78  0.76  0.75  0.74      AZ
 Washington     1.08  1.09  1.10  1.08  1.05  ...  0.71  0.74  0.76  0.74      WA
 Hawaii         1.26  1.30  1.28  1.21  1.16  ...  0.78  0.80  0.74  0.75      HI
 Michigan       1.02  1.05  1.03  1.03  1.00  ...  0.76  0.78  0.80  0.80      MI
 Oregon         0.96  0.98  0.96  0.94  0.92  ...  0.78  0.81  0.82  0.82      OR
 Maine          1.04  1.05  1.08  1.06  1.05  ...  0.79  0.80  0.82  0.83      ME
 Missouri       0.83  0.89  0.86  0.84  0.83  ...  0.76  0.78  0.80  0.83      MO
 Massachusetts  1.24  1.25  1.23  1.27  1.24  ...  0.84  0.86  0.84  0.84      MA
 Louisiana      1.03  1.07  1.08  1.04  1.02  ...  0.80  0.81  0.83  0.85      LA
 Connecticut    1.21  1.20  1.20  1.21  1.18  ...  0.84  0.85  0.86  0.86      CT
 Maryland       1.39  1.38  1.39  1.35  1.33  ...  0.83  0.84  0.85  0.87      MD
 Montana        1.10  1.07  1.05  1.04  1.05  ...  0.83  0.86  0.87  0.88      MT
 Florida        1.47  1.48  1.51  1.43  1.38  ...  0.92  0.93  0.90  0.92      FL
 Colorado       1.22  1.43  1.37  1.31  1.26  ...  0.97  1.00  1.01  1.00      CO
 Minnesota      1.15  1.15  1.16  1.20  1.18  ...  0.93  0.97  1.03  1.04      MN
 Wyoming        1.32  1.36  1.30  1.32  1.27  ...  1.05  1.10  1.12  1.10      WY
 Nevada         3.85  3.65  3.28  2.94  2.71  ...  1.30  1.27  1.33  1.15      NV
 Wisconsin      1.26  1.18  1.17  1.20  1.20  ...  1.09  1.11  1.12  1.16      WI
 Alaska         1.70  1.68  1.65  1.70  1.82  ...  1.02  1.07  1.09  1.16      AK
 Delaware       1.35  1.33  1.34  1.38  1.39  ...  1.28  1.25  1.25  1.25      DE

 [40 rows x 34 columns]]

In [ ]:
#데이터의 총 기간은 몇 년인가?
span = max(years) - min(years) + 1
span

33

In [ ]:
#적절해보이는 스타일을 선택한다.
matplotlib.style.use("ggplot")